body{
    font-family: 'Open Sans', sans-serif;
}
a{
	color:#7a1632;
}
.bu-border{
	border:1px solid #ddd;
	overflow:hidden;
	padding:10px;
}
.logo-bu img {
  float: right;
}
.logo-aqi {
  padding: 10px 0;
}
.logo-bu {
  padding: 10px 0;
}
.homesearch{
	padding: 15px 0 40px 0px;
}
.homesearch .buaqif1 {
  border: 1px solid #ddd;
  padding: 3px 10px;
  width: 100%;
}
.homesearch .buf3 {
  border: 1px solid #ddd;
  border-radius: 0;
  height: auto;
  padding: 3px 10px;
  width: 100%;
}
.busubmit {
  background: #7a1632;
  border: 0 none;
  color: #fff;
  max-width: 263px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0px;
}

.bu-chart-10 {

  float: left;

  width: 13%;

}

.bu-chart-60 {

  float: left;

  width: 40%;

}



.margin-left-2{

    margin-left: 2%;

}
.latest-news {
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 10px 10px 4px;
}
.photo-galleery {
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 10px;
}
.newsrow {
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px;
}
.newsrow:last-child{
	border:0;
}
a.read-more {
  background: #7a1632 none repeat scroll 0 0;
  color: #fff;
  float: right;
  margin: 0 0 0 15px;
  padding: 2px 10px;
}
.date-news {
  font-size: 12px;
}
.aqpminfo h2 {
  font-weight: 300;
  text-align: center;
}
.aqpminfo p {
  text-align: center;
}
.aqpm {
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 10px;
}
.infoaqitable td {
  border: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  padding: 15px;
}
.infoaqitable th {
  background: #ddd none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
}
.footer{
    background: #7a1632;
}
.footer-menu{
	margin:15px 0 0 0;
}
.footer-menu ul{
	text-align:center;
}
.footer-menu ul li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}
.footer-menu ul li a{
	color:#fff;
}
.footer-menu ul li a:hover{
	color:#EA262A;
	text-decoration:none;
}
.copyright{
	margin:27px 0 0 0;
}
.copyright p{
	color:#fff;
}
.copyright a{
	color:#EA262A;
}
.copyright a:hover{
	color:#fff;
}
.pm2avg p {
  color: #0086c8;
  font-family: "Oranienbaum",serif;
  font-size: 16px;
  font-weight: bold;
}
.avssingleleft {
  border-radius: 10px;
  color: #000;
  float: left;
  font-family: "Oranienbaum",serif;
  font-size: 100px;
  line-height: 120px;
  padding: 5px 0 0;
  text-align: center;
  width: 220px;
}
.avssingleright {
  float: left;
  font-family: oranienbaum;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 0 10px;
  padding: 20px 0;
  text-shadow: 1px 1px 0 #000;
  width: 295px;
}
.row-border-x{
	margin:20px 0 0 0;
}
.pm2avg {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.chartpmaqi {
  clear: both;
}
.pmaqi1 {
  float: left;
  width: 80px;
}
.pmaqi2 {
  float: left;
  width: 40px;
}
.pmaqi3 {
  float: left;
  width: 330px;
}
.pmaqi4 {
  float: left;
  width: 40px;
}
.pmaqi5 {
  float: left;
  width: 40px;
}