.bu-border{
	border:1px solid red;
	border-radius:10px;
	overflow:hidden;
	padding:10px;
}
.bu-chart-10 {
  float: left;
  width: 13%;
}
.bu-chart-60 {
  float: left;
  width: 40%;
}

.margin-left-2{
    margin-left: 2%;
}
